extends includes/layout
block main-content
    header.nav.navbar-default.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="/") CAH
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="/") Home
                    li
                        a(href="/games/create") Create Game
                    li
                        a(href="/games/view") Available Games
                div(ng-include="'partials/account/login'")

    section
        div(ng-view)

    footer.navbar-fixed-bottom
        p.text-center
            | &copy; Team 1 - TA 2016