extend includes/layout
block main-content
    .create-game-container.well
        form.form-horizontal(action="/games/create", method="post")
            fieldset
                legend
                    strong Create new game
                .form-group
                    label.col-lg-3.control-label(for='inputName') Name
                    .col-lg-9
                        input#inputName.form-control(type='text', placeholder='Name' name="name")
                .form-group
                    label.col-lg-3.control-label(for='inputPlayersNumber') Max Players
                    .col-lg-9
                        input#inputPlayersNumber.form-control(type='number' min="4" max="10" value="4" name="maxPlayers")
                hr
                div(style="margin-left:20px")
                    button(class="btn btn-primary") Create
    br