extend includes/layout
block main-content
    .noselect(ng-controller="GameDetailsPageController as vm")
        .clock-container.text-center
            h1 Round {{vm.game.currentRound}}
            #clockdiv
                div
                    span.seconds {{vm.game.timeLeftFromCurrentRound}}
                    .smalltext Seconds
        if isCzar
            .czar.text-center
                h3
                    strong You are the czar, choose the funniest combination
        br
        .text-center
            a(class="btn btn-sm btn-info" ng-click="vm.leaveGame(vm.game._id)" href="/games/view") Leave
        .black-card-container
            div {{vm.blackCard.value}}
            div.white-cards-required Pick {{vm.blackCard.whiteCardsRequire}}

        if !isCzar
            .white-card-container.hvr-back-pulse(ng-repeat="whiteCard in vm.userWhiteCards") {{whiteCard}}
        if isCzar
            .white-card-container.hvr-back-pulse(ng-repeat="whiteCard in vm.game.currentWhiteCards") {{whiteCard}}
        br