extend includes/layout
block main-content
    .noselect(ng-controller="GameDetailsPageController as vm")
        .clock-container.text-center
            h1 Round {{vm.game.currentRound}}
            #clockdiv
                div
                    span.seconds {{vm.game.timeLeftFromCurrentRound}}
                    .smalltext Seconds
        .czar.text-center(ng-show='vm.isCzar')
            h3
                strong You are the czar, choose the funniest combination
        br
        .text-center
            form(action="{{ '/games/' + vm.game._id + '/leave'}}", method="post")
                button(class="btn btn-info") Leave
        .black-card-container
            div {{vm.blackCard.value}}
            div.white-cards-required Pick {{vm.blackCard.whiteCardsRequire}}
        .white-card-container.hvr-back-pulse(ng-hide='vm.isCzar' ng-repeat="whiteCard in vm.userWhiteCards") {{whiteCard}}
        .white-card-container.hvr-back-pulse(ng-show='vm.isCzar' ng-repeat="whiteCard in vm.game.currentWhiteCards") {{whiteCard}}
        br