extend includes/layout
block main-content
    .container.text-center
        .jumbotron
           h1
                strong Cards Against Humanity
            h2 Even your mom will like 'em
        .centered-div
           h4
              em Cards Against Humanity is as awkward as you and your friends. The rules are incredibly difficult - each round, one player asks a question from a black card, and everyone else answers with their funniest white card.
          h3 Relax and have some fun!