.navbar-right(ng-controller="LoginController")
    if !user
        form.navbar-form(action="/identity/login", method="post")
            .form-group
                input.form-control(type="text", placeholder="Username", name="username")
                input.form-control(type="password", placeholder="Password", name="password")
            button.btn.btn-default Log In
            a.btn.btn-default(href="/identity/signup") Sign Up

    ul.nav.navbar-nav.navbar-right
        li.dropdown
            if user
                a.dropdown-toggle(style="margin-right:50px" href="", data-toggle="dropdown") #{user.firstName + ' ' + user.lastName}
                    span.caret
            form(action="identity/logout" method="post")
            ul.dropdown-menu(style="margin-right:50px")
                if user && user.roles.indexOf('admin') > 0
                    li
                        a(href="/identity/users") Users
                li
                    a(href="/identity/profile") Profile
                li
                    button Log Out