extend includes/layout
block main-content
    .sign-up-update-form.container
        .well
            form.form-horizontal(action="/api/users" method="post")
                fieldset
                    legend
                        strong Create New User
                    .form-group
                        label.col-md-2.control-label(for="first-name") First Name
                        .col-md-10
                            input.form-control#first-name(type="text", placeholder="First Name", name="firstName", required)
                    .form-group
                        label.col-md-2.control-label(for="last-name") Last Name
                        .col-md-10
                            input.form-control#last-name(type="text", placeholder="Last Name", name="lastName", required)
                    .form-group
                        label.col-md-2.control-label(for="username") Username
                        .col-md-10
                            input.form-control#username(type="text", placeholder="Username", name="username", required)
                    .form-group
                        label.col-md-2.control-label(for="password") Password
                        .col-md-10
                            input.form-control#password(type="password", placeholder="Password", name="password", required)
                    .pull-right(style="margin: 5px")
                        button.btn.btn-primary Create
                    .pull-right(style="margin: 5px")
                        a.btn.btn-primary(href="/") Cancel