doctype
html
    head
        base(href="/")
        title Cards against humanity
        link(rel="stylesheet" href="http://bootswatch.com/flatly/bootstrap.min.css")
        link(rel="stylesheet" href="/lib/toastr/toastr.css")
        link(rel="stylesheet" href="http://bootswatch.com/flatly/bootstrap.min.css")
        link(rel="stylesheet" href="/css/site.css")
        link(rel="stylesheet" href="/css/pace.css")
    body(ng-app="cardsAgainstHumanity")
        block main-content

        include scripts
        include currentUser

