script(type="text/javascript" src="/lib/jquery/dist/jquery.js")
script(type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript" src="/lib/toastr/toastr.js")
script(type="text/javascript" src="/lib/linq/linq.min.js")
script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js")
script(type="text/javascript" src="/lib/angular/angular.js")
script(type="text/javascript" src="/lib/angular-resource/angular-resource.js")
script(type="text/javascript" src="/lib/angular-route/angular-route.js")
script(type="text/javascript" src="/app/app.js")
script(type="text/javascript" src="/app/main/mainCtrl.js")
script(type="text/javascript" src="/app/game/gamesService.js")
script(type="text/javascript" src="/app/account/login-controller.js")
script(type="text/javascript" src="/app/account/signUpCtrl.js")
script(type="text/javascript" src="/app/account/profileCtrl.js")
script(type="text/javascript" src="/app/account/identity.js")
script(type="text/javascript" src="/app/account/auth.js")
script(type="text/javascript" src="/app/account/usersResource.js")
script(type="text/javascript" src="/app/admin/userListCtrl.js")
script(type="text/javascript" src="/app/common/notifier.js")
script(type="text/javascript" src="/app/common/data-service.js")
script(type="text/javascript" src="/app/game/create-game-controller.js")
script(type="text/javascript" src="/app/game/view-available-games-controller.js")
script(type="text/javascript" src="/app/game/game-details-controller.js")
script(type="text/javascript" src="/app/cards/cards-service.js")