.view-gmes-container(ng-show="vm.games.length>0")
    div(ng-repeat="game in vm.games")
        .jumbotron.centered-div.text-center.row
            strong.col-lg-5(style="font-size:25px") {{game.name}}
            a.col-lg-5(class="btn btn-sm btn-primary" ng-click="vm.join()") Join

.text-center(ng-hide="vm.games.length>0")
    h3 There are no games for you to join right now. Come back later.